$landscapePhones: "(min-device-width: 576px) and (max-device-width: 767px)";
$tablets: "(min-device-width: 768px) and (max-device-width: 991px)";
$desktops: "(min-device-width: 992px) and (max-device-width: 1199px)";
$largeDesktops: "(min-device-width: 1200px)";

@mixin landscapePhones {
    @media #{$landscapePhones} {
        @content;
    }
}

@mixin tablets {
    @media #{$tablets} {
        @content;
    }
}

@mixin desktops {
    @media #{$desktops} {
        @content;
    }
}

@mixin largeDesktops {
    @media #{$largeDesktops} {
        @content;
    }
}

body {
    background-color: #e6e6ff !important;
}

 
 .card {
    margin: 0 auto !important;
    width: 100% !important;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    border-radius: 20px !important;
    border-style: solid !important;
    border-width: 0.5px !important;
    border-color: #bfbfbf !important;
} 

.button {
    display: none !important;

    @include tablets {
        display: inline-block !important;
        width: 40%;
    }

    @include desktops {
        display: inline-block !important;
        width: 40%;
    }

    @include largeDesktops {
        display: inline-block !important;
        width: 40%;
    }
}

.fabButton {
    margin: auto;

    @include tablets {
        display: none !important;
    }

    @include desktops {
        display: none !important;
    }

    @include largeDesktops {
        display: none !important;
    }
}

.buttonContainer {
    display: inline-block !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    text-align-last: center !important;
}

.container {
    max-width: 100% !important;

    @include tablets {
        max-width: 80% !important;
    }

    @include desktops {
        max-width: 80% !important;
    }

    @include largeDesktops {
        max-width: 80% !important;
    }
}

.inputContainer {
    text-align: center;
    width: 100% !important;
    margin-bottom: 10px;

    @include tablets {
        width: 50% !important;
    }

    @include desktops {
        width: 50% !important;
    }

    @include largeDesktops {
        width: 50% !important;
    }
}


.input {
    text-align-last: center;
    width: inherit;

    @include tablets {
        text-align-last: left;
    }

    @include desktops {
        text-align-last: left;
    }

    @include largeDesktops {
        text-align-last: left;
    }
}

.radio {
    display: inline !important;
}




